@model StoreMVC.ViewModels.HomeViewModel
@using StoreMVC.Infrastructure

@{
    ViewBag.Title = "Bball Store";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List", "Equipment", new { categoryName = category.CategoryName.ToLower()})"
                   style="background-image: url(@Url.CategoryPicturePath(category.CategoryPictureName)); ">
                    @category.CategoryName
                </a>
            </li>
        }

    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/Banner.png" class="center" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var bestseller in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("AddToBasket", "Basket", new { id =bestseller.EquipmentId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details", "Equipment", new { id = bestseller.EquipmentId})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.PicturePath(bestseller.PictureName)" />
                        <h1>
                            @bestseller.Title - @bestseller.Manufacturer
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>



    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var latest in Model.Latest)
            {
                <li>
                    <article>
                        <a class="dodajDoKoszykaLink" href="@Url.Action("AddToBasket", "Basket", new { id =latest.EquipmentId})">
                            <img src="../Content/Images/koszyk.png" />
                        </a>
                        <a class="kursSzczegolyLink" href="@Url.Action("Details", "Equipment", new { id = latest.EquipmentId})">
                            <div class="newFlag"></div>
                            <img class="kurs" src="@Url.PicturePath(latest.PictureName)" />
                            <h1>
                                @latest.Title - @latest.Manufacturer
                            </h1>
                        </a>
                    </article>
                </li>
            }
            </ul>
    </section>



